@media screen and (max-width:750px){
    .menu-icon{
        display: block;
    }

    nav .nav-list{
        display: none;
        position: absolute;
        z-index: 999;
        top: 90px;
        left: 0;
        right: 0;
        background-color: #E5E4CA;
        flex-direction: column;
        width: 80%;
        margin: auto;

    }

    .menu-toggle:checked + .menu-icon + .nav-list{
        display: flex;
        max-height: 300px;
        border-radius: 30px;
    }

}

/* ! Footer */
@media screen and (max-width:1000px){
    footer .center{
        order: -1;
        width: 100%;
    }
    footer input{
        width: 60%;
    }
}
/* ! Anasayfa Main Alanı */
@media screen and (max-width:700px){
    .hero-image .main-text{
        width: 90%;
        left: 50%;
    }
}
@media screen and (max-width:578px){
    .hero-image .main-text h1{
        font-size: 50px;
    }
    .hero-image .main-text h3{
        font-size: 22px;
    }
}


/* !Hakkımızda Section */

@media screen and (max-width:1000px){
    .hak-content{
        flex-direction: column;
    }

    .hak-left,
    .hak-right{
        width: 100%;
    }

}


/* !Blog Section */

@media screen and (max-width:1530px){
    .section-blog-wrapper{
        padding-inline: 2%;
    }
}



/* !İletişim */

@media screen and (max-width:1000px){
    .iletisim-content{
        flex-direction: column;
    }
    .iletisim-content .iletisim-left,
    .iletisim-content .iletisim-right{
        width: 100%;
    }
}

/* ! Menü */

@media screen and (max-width:1100px){
    .menu-section{
        width: 95%;
        height: auto;

    }
}


@media screen and (max-width:650px){
    .urun{
        flex-direction: column;
        align-items: center;

    }
    .urun .tatli-right,
    .urun .icecek-left{
        width: 100%;
        margin-bottom: 10px;
    }
    .urun .tatli-right{
        margin-bottom: 60px;
    }

    .ayrac{
        display: none;
    }

    .menu-section .yazi{
        bottom: 45px;
    }

    .slider-content img{
        width: 500px;
        height: 200px;
        border: 1px solid white;
    }
}
















